<h1>New Message (validation pop-ups)</h1>

<%= form_with(model: message) do |form| %>
  <%= render form %>
<% end %>

<h1>New Message (validation elements)</h1>

<%= form_with(model: message, html: { id: "new_message_form" }) do |form| %>
  <template data-validation-message-template="new_message_form">
    <span style="color: red;"></span>
  </template>

  <%= render form %>
<% end %>
